# Analysis

This file contains the public data analysis for "Characterizing the US Research Computing and Data (RCD) Workforce."

In [1]:
library(tidyverse)
library(janitor)

── Attaching packages ────────────────────────────────────────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ───────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()


Attaching package: ‘janitor’


The following objects are masked from ‘package:stats’:

    chisq.test, fisher.test

## Data

In [2]:
all_freq <- read_csv("data_to_share/var_frequencies_all_respondents.csv")
institutions <- read_csv("data_to_share/institutions_all.csv")
all_edu_work <- read_csv("data_to_share/education_work_all_respondents.csv")
rcd_edu_work <- read_csv("data_to_share/education_work_rcd_respondents.csv")
gender <- read_csv("data_to_share/gender_counts.csv")
ethnicity <- read_csv("data_to_share/ethnicity_counts.csv")
jobs <- read_csv("data_to_share/job_titles.csv")
facings <- read_csv("data_to_share/facings.csv")
satisfaction <- read_csv("data_to_share/satisfaction_rcd_respondents.csv")
inclusion <- read_csv("data_to_share/inclusion.csv")

Rows: 150 Columns: 4
── Column specification ───────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (2): variable, category
dbl (2): n, prop

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 563 Columns: 6
── Column specification ───────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (5): employer_type, institution_type, institution_code, institution_comb...
lgl (1): academic_institution

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 563 Columns: 20
── Column specification ───────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (2): education, education_related
dbl  (3): experience_rcd, experience_work, education_field_count
lgl (15): experience_rcd_only, experience_corporate, academic_institution, e...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 539 Columns: 22
── Column specification ───────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (9): institution_combo_group, position_type, position_category, position...
dbl (5): position_group_tenure, position_tenure, position_percent_rcd, exper...
lgl (8): academic_institution, position_group_rc, promoted, supervise_staff,...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 59 Columns: 4
── Column specification ───────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (3): gender, variable, category
dbl (1): n

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 33 Columns: 4
── Column specification ───────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (3): group, variable, category
dbl (1): n

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 539 Columns: 28
── Column specification ───────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
lgl (28): job_title_official, job_title_alternate, job_sysadmin, job_enginee...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 539 Columns: 13
── Column specification ───────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (1): facings_familiar
dbl (7): facings_number, facings_researcher, facings_data, facings_software,...
lgl (5): facings_researcher_majority, facings_data_majority, facings_softwar...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 539 Columns: 11
── Column specification ───────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (9): satisfaction_position, rcd_satisfaction, rcd_opportunities, rcd_fut...
dbl (1): rcd_recommend
lgl (1): promoted

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 27 Columns: 9
── Column specification ───────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (8): variable, category, Agree (Somewhat OR Strongly), Strongly agree, S...
dbl (1): group_count

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

## 3: SURVEYING THE WORKFORCE

Institution Counts

In [6]:
length(unique(institutions$institution_code))

[1] 175

In [7]:
institutions %>%
  distinct(institution_code, .keep_all=TRUE) %>%
  tabyl(institution_type)

  institution_type          n  percent     valid_percent
1 Academic Computing Center  5 0.028571429 0.02873563
2 Company                    8 0.045714286 0.04597701
3 Government                 5 0.028571429 0.02873563
4 Medical                   10 0.057142857 0.05747126
5 Other                      7 0.040000000 0.04022989
6 Other Academic            18 0.102857143 0.10344828
7 R1                        91 0.520000000 0.52298851
8 R2                        30 0.171428571 0.17241379
9 NA                         1 0.005714286         NA

In [8]:
institutions %>%
  filter(!is.na(institution_code)) %>%
  count(institution_code) %>%
  summarize(median(n),
            max(n))

  median(n) max(n)
1 2         26

R1/R2

In [9]:
institutions %>%
  filter(academic_institution) %>%
  summarize(R1_respondents = sum(institution_type == "R1")/n(),
            R1_inst = n_distinct(institution_code[institution_type == "R1"])/n_distinct(institution_code))

  R1_respondents R1_inst
1 0.8163717      0.6319444

Respondents

In [10]:
filter(all_freq, variable == "rcd_employed")

  variable     category     n   prop
1 rcd_employed No/No Answer  24 0.04262877
2 rcd_employed Yes          539 0.95737123

In [11]:
sum(rcd_edu_work$academic_institution, na.rm=TRUE)/sum(!is.na(rcd_edu_work$academic_institution))

[1] 0.8607843

## 4.1 Demographics

### Age

In [12]:
filter(all_freq, variable=="age")

  variable category n   prop
1 age      20 - 24   11 0.01953819
2 age      25 - 34   96 0.17051510
3 age      35 - 44  167 0.29662522
4 age      45 - 54  171 0.30373002
5 age      55 - 64   99 0.17584369
6 age      65 - 74   19 0.03374778

### Race/Ethnicity

In [14]:
filter(all_freq, variable=="ethnicity1")

  variable
1 ethnicity1
2 ethnicity1
3 ethnicity1
4 ethnicity1
5 ethnicity1
6 ethnicity1
  category
1 Asian
2 Black or African American
3 Multiple/Native Hawaiian or Pacific Islander/Jewish/Middle Eastern/Mediterranean/Other Unspecified
4 White (Hispanic)
5 White (Not Hispanic)
6 NA
  n   prop
1  59 0.10479574
2  10 0.01776199
3  15 0.02664298
4   9 0.01598579
5 435 0.77264654
6  35 0.06216696

In [15]:
filter(all_freq, variable=="hispanic")

  variable category n   prop
1 hispanic FALSE    516 0.91651865
2 hispanic TRUE      13 0.02309059
3 hispanic NA        34 0.06039076